In [1]:
def greet():
    print("Hello This is first function")
greet()

Hello This is first function

In [2]:
def greet():
    print("Hello This is first function")
greet()
greet()

Hello This is first function
Hello This is first function

In [8]:
def add():
    a=10
    b=20
    c=a+b
    print("Sum is :", c)
add()

Sum is : 30

In [10]:
def add( a, b):
 c=a+b
 print(c)
add(10,20)

30

In [11]:
def add(a, b,c):
 d=a+b+c
 print(d)

add(20,30,40)

90

In [12]:
def add(a,b): 
    c = a+b
    return c
    
add(4,5,6)

TypeError: add() takes 2 positional arguments but 3 were given

In [13]:
def add(a,b,c): 
    c = a+b
    return c
    
add(4,5)

TypeError: add() missing 1 required positional argument: 'c'

In [14]:
def person(name,age):
    print(name)
    print(age)
person('Suresh', 40)

Suresh
40

In [15]:
def person(name,age=18):
    print(name)
    print(age)
person('Suresh')

Suresh
18

In [16]:
def person(name,age):
    print(name)
    print(age)
    
person(22, 'suresh')

22
suresh

In [17]:
def person(name,age):
    print(name)
    print(age)
     
person('suresh')

TypeError: person() missing 1 required positional argument: 'age'

In [18]:
def person(name,age):
    print(name)
    print(age - 1)
     
person(22, 'suresh')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [19]:
def person(name,age):
    print(name)
    print(age - 1)
     
person('nit',22)

nit
21

In [20]:
def person(name,age):
    print(name)
    print(age - 1)
     
person(age =22, name ='suresh')

suresh
21

In [21]:
def person(name,age=18):
    print(name)
    print(age)
     
person('suresh Lingala', 23)

suresh Lingala
23

In [22]:
def sum(a, b):
    c = a+b
    return c
    
sum(5,6)

11

In [23]:
def sum(a, b): 
    c = a+b
    return c
    
sum(5,6,7,8,9,10)

TypeError: sum() takes 2 positional arguments but 6 were given

In [24]:
def sum(a, *b): 
    c = a+b
    return c
    
sum(5,6,7,8,9,10)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [41]:
def sum(a, *b):
    c = a
    for i in b :
     c= c+i
     print(c)
    
sum(5,6,7,8,9,10)

11
18
26
35
45

In [44]:
def sum(a, *b):
    c = a
    print(c)
    for i in b :
     c= c+i
     print(c)
    
sum(5,6,7,8,9,10)

5
11
18
26
35
45

In [51]:
def person(name,*data):
  
    print(type(name))
    print(type(data))
    print(name)
    print(data)


person('Suresh Lingala', 36, 'hyderabad', 987767, ['hyd', 'sec'])

<class 'str'>
<class 'tuple'>
Suresh Lingala
(36, 'hyderabad', 987767, ['hyd', 'sec'])

In [54]:
def person(name,**data):
    print(type(name))
    print(type(data))
    print(name)
    print(data)

person('Suresh lingala', age = 36, home_place ='southcity', mob =987767)

<class 'str'>
<class 'dict'>
Suresh lingala
{'age': 36, 'home_place': 'southcity', 'mob': 987767}

In [57]:
a = 10  #-- globla variable 

def something():
    b = 15 #local variable
    
    print('in function',b)    
    print('out function',a)

In [58]:
a = 10  

def something():
    b = 15 
    print('in function',b)    
    
print('out function',a)

out function 10

In [59]:
a = 10  

def something():
    b = 15 
    print('in function',b)    
    
print('out function',a) 

something()

out function 10
in function 15

In [60]:
x = 10  # Global variable

def update_x():
    global x  # Declare that we are using the global variable x
    x += 5    # Modify the global variable

update_x()
print(x)  # Output: 15

15

In [61]:
x = 10  # Global variable

def update_x():
    globals()['x'] += 5  # Access and modify the global variable using the dictionary

update_x()
print(x)  # Output: 15

15